@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  h1,
  h2 {
    @apply inline-block p-4 font-semibold mb-8 text-7xl bg-black;
  }

  p {
    @apply text-lg mb-5;
  }

  p:last-child {
    @apply mb-0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 3s forwards;
}

.fade-in-delayed {
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-6px);
  }
  60% {
    transform: translateX(-50%) translateY(-3px);
  }
}

.bounce {
  animation: bounce 2s infinite ease-in-out;
}
